.Principal{
    --ion-background-color:#ffffff;
    --ion-text-color:#000000;
}

#TituloHistorial{
    zoom: 1.50;
}
.Icono1{
    margin-left: 29%;
    zoom: 1.30;
}
.Icono2{
    zoom: 1.30;
}

.Menus{ 
    zoom: 1.85;
    margin-top: 150%;
  }