<ion-header>
  <ion-toolbar>
    <ion-title>Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Background">
  <ion-grid id="PrincipalTarjeta" >
    <ion-row>
      <ion-col class="ion-text-start">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-end" > 
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col class="Mensaje ion-text-wrap ion-text-center col-10 offset">
        <ion-text >
         Desea añadir una tarjeta?
         si es asi por favor
         haga click en el boton de +.
        </ion-text>
    </ion-col>
  </ion-row>
<ion-row class="ion-text-center Agregar" >  
  <ion-col>
    <ion-icon name="add-circle-outline" click="GoToNumeroTarejeta()"></ion-icon>
  </ion-col>
</ion-row>
  <ion-grid > 
    <ion-row>
      <ion-col class="ion-text-start Menus" >
        <ion-icon name="card-outline"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center Menus" (click)="GoToHome()">
        $
      </ion-col>
      <ion-col class="ion-text-end Menus" >
        <ion-icon name="refresh-outline" (click)="GoToHistorial()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
