#container {
  text-align: center;
  background-color: #179316;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#Principal{
  background-color: #179316;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#Contenedor1{
  zoom: 1.85;

}

#InputPago{
  background-color: #179316;
  width: 153px;
  height: 45px;
  border: none; 
}

#Contenedor3{
  
  font-size: 37px;
  
  
}

.Filas{
  margin-bottom: 10%;
}

//Boton de pago//
#BotonPago{
  font-size: 29px;
  margin-top: 5%;
}
//Iconos inferiores//
.Menus{ 
  zoom: 1.85;
  margin-top: 7%;
}
//Fondo de pantalla//
ion-content.Background{
  --ion-background-color:#179316;
}